.advantages {
	background-color: #ffffff;
		padding-top: 40px;
		padding-bottom: 40px;
		@include adaptiveValue("padding-top", 60, 40, 2, 1710, 768);
		@include adaptiveValue("padding-bottom", 60, 40, 2, 1710, 768);

		@media (max-width:$mobileSmall){
			padding-top: 35px;
			padding-bottom: 35px; 
		}
		// .advantages__container
		&__container {
			@include adaptiveValue("padding-left", 40, 10);
			@include adaptiveValue("padding-right", 40, 10);
		}
		// .advantages__title
		&__title {
			opacity: 0.77;
			transform: translate(0, 10px);
			@include adaptiveValue("font-size", 49, 26);
			font-weight: bold;
			padding-bottom: 30px;
		}
		// .advantages__description
		&__description {
			opacity: 0.77;
			transform: translate(0, 10px);
			@include adaptiveValue("font-size", 35, 20);
			font-weight: bold;
			padding-bottom: 25px;
			@media (max-width:$mobile){
				 padding-bottom: 10px; 
			}
		}
		// .advantages__items
		&__items {}
}
.advantages-item {
	padding: 15px 0;
	display: flex;
	@include adaptiveValue("gap", 120, 0, 2, 1710, 768);

	@media (max-width:$mobile){
		 display: block; 
		 padding: 10px 0 0;
	}
		// .advantages-item__icon
		&__icon {
			flex: 0 0 160px;
			padding: 5px 0;

			@media (max-width:$tablet){
				flex: 0 0 140px;
			}
			@media (max-width:$mobile){
				padding: 35px 0 20px;
			}

			@media (max-width:$mobileSmall){
				padding: 25px 0 20px;
			}

			img {
				width: 100%;
			}
		}
		// .advantages-item__content
		&__content {
			flex: 0 1 90%;
		}
		// .advantages-item__title
		&__title {
			opacity: 0.77;
			transform: translate(0, 10px);
			@include adaptiveValue("font-size", 35, 20);
			font-weight: bold;
		}
		// .advantages-item__text
		&__text {
			opacity: 0.77;
			transform: translate(0, 10px);
			@include adaptiveValue("font-size", 35, 16);
		}
}
