.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
		// .header__container
		&__container {
			padding-left: 15px;
			padding-right: 15px;
			@include adaptiveValue("padding-top", 13, 8);
			@include adaptiveValue("padding-bottom", 13, 8);
		}
		// .header__logo
		&__logo {
			z-index: 70;
			img {
				@include adaptiveValue("width", 310, 120);
				transition: all 0.3s ease 0s; 
				@media (any-hover: hover) {
					&:hover {
						transform: translate(0, -2px);
					}
				}
			}
		}
	.header-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 60px;
	}
}

.header_wrapper {
	background-color: $petrolColor;
}

.menu-header {
	display: flex;
	justify-content: center;
	align-items: center;
		// .menu-header__icon
		&__icon {}
		// .menu-header__body
		&__body {
			@media (max-width:$tablet){
				position: absolute;
				top: 0;
				left: -101%;
				width: 100%;
				height: 100%;
				min-height: 100vh;
				background-color: $petrolColor;
				padding: 90px 10px 30px;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: center;
				transition: all 0.4s ease 0s; 
				overflow: auto;
			}
		}
	&::before {
		content:'';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $petrolColor;
		@media (max-width:$tablet){
			z-index: 60;
		}
	}
}
.menu-open .menu-header__body {
	left: 0;
}
.icon-menu {
	@media (max-width:$tablet){
		z-index: 70;
	}
}
.nav-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	font-size: 24px;
	@include adaptiveValue("font-size", 35, 24, 2, 1710, 992);
	letter-spacing: -1px;
	color: #FFF;
	white-space: nowrap;

	@media (max-width:$tablet){
		gap: 10px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: 28px;
	}
	@media (max-width:$mobile){
		font-size: 26px;
	}
	@media (max-width:$mobileSmall){
		font-size: 23px;
	}
}
.menu-item {
	position: relative;
	@include adaptiveValue("margin-right", 50, 35, 2, 1710, 992);
	padding: 10px 0;
	@media (any-hover: hover) {
		&:hover {
			color: #fffffff5;
		}
	}

	@media (max-width:$tablet){
		width: 100%;
		text-align: left;
		padding: 6px 0;
	}
}
.current-menu-item {
	color: $redLinkColor !important;
	@media (any-hover: hover) {
		&:hover {
			color: $redLinkColor;
			text-shadow: 0px 0px #e6264000;
		}
	}
}
.sub-menu-wrapper {
	position: absolute;
	top: 100%;
	left: 0;
	overflow: hidden;

	@media (max-width:$tablet){
		position: relative;
		top: initial;
		left: initial;
		overflow: initial;
	}
}
.sub-menu {
	position: relative;
	top: 100%;
	left: 0;
	width: max-content;
   padding: 5px 40px 15px;
	@include adaptiveValue("padding-right", 45, 20, 2, 1710, 992);
	@include adaptiveValue("padding-left", 45, 20, 2, 1710, 992);
	white-space: wrap;
	background-color: $petrolColor;

	@media (max-width:$tablet){
		width: 100%;
		padding: 10px 0 0 0;
	}
}
.sub-menu-item {
	z-index: -1;
	margin-top: -100%;
	opacity: 0;
	transition: all 0.5s ease 0s; 

	@media (max-width:$tablet){
		position: relative;
		padding: 10px 0 0 20px;
		opacity: 1;
		margin-top: 0;
		z-index: 50;
	}

	a {
		color: #FFF;
		@media (any-hover: hover) {
			&:hover {
				color: $redLinkColor;
			}
			&:active {
				color: $redLinkColor;
			}
		}
	}
}
.sub-menu-item.current-menu-item a {
	color: $redLinkColor;
}
.menu-item {
	@media (any-hover: hover) {
		&:hover {
			.sub-menu-item {
				opacity: 1;
				margin-top: 0;
			}
		}
	}
}
.select-language {
	margin-left: -15px;
	margin-right: 10px;
	font-size: 24px;
	@include adaptiveValue("font-size", 35, 24, 2, 1710, 992);
	letter-spacing: -1px;
	color: #FFF;
	z-index: 70;

	@media (max-width:$tablet){
		margin-right: 25px;
		order: 1;
	}

}

.has-children > a {
	position: relative;
	display: flex;
	align-items: center;
	gap: 10px;
}
.has-children > a:after {
			content: "";
			margin-top: 5px;
			align-self: stretch;
			flex: 0 0 16px;
			transition: all 0.3s ease 0s;
			display: flex;
			justify-content: center;
			align-items: center;
			background: url('@img/chevron-down-white.svg') center center / 100% no-repeat;
			@media (max-width:$tablet){
				display: none;
			}
}
.has-children {
	@media (any-hover: hover) {
		&:hover {
			> a {
				&::after {
					content:'';
					transform: rotate(-180deg);
				}
			}
		}
	}
	
}
