.header-indent {
	display: block;
	width: 100%;
	@include adaptiveValue("height", 160, 60);
}

.main {
	position: relative;

	img {
		position: absolute;
		left: 0;
		top: 0;
		height: 85vh; 
		width: 100%;
		object-fit: cover;

		@media (max-width:$tablet){
			height: 60vh;
		}
	}
	// .main__container
	&__container {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		height: 85vh; 
		@include adaptiveValue("padding-top", 150, 100);
		@include adaptiveValue("padding-bottom", 80, 50);
		
		@media (max-width:$tablet){
			height: 60vh;
		}
	}
	// .main__title
	&__title {
		min-height: 30vh;
		@include adaptiveValue("font-size", 72, 26);
		color: $redColor;
		font-weight: bold;
		text-shadow: 2px 2px white;
		opacity: 0;
		transform: scale(0.95);
		animation: fadeIn 1.5s ease-in forwards 0.5s;

		span {
			font-weight: bold;
			letter-spacing: -1px;
		}

		@media (max-width:$tablet){
			min-height: 20vh;
		}

		@media (max-width:$mobile){
			text-shadow: 1px 1px white; 
		}
	}
	
}
@keyframes fadeIn {
  from {
    opacity: 0;
	 transform: scale(0.95);
  }
  to {
    opacity: 1;
	 transform: scale(1);
  }
}
.main__title-join {
	min-height: 60vh;
	color: #fff;
	text-shadow: 2px 2px $redColor;
}

.main__container.main-text {
	position: relative;
	display: block;
	height: initial;
	@include adaptiveValue("font-size", 72, 22);
	font-weight: bold;
	line-height: math.div(115 , 96);
	@include adaptiveValue("padding-top", 140, 50);
	@include adaptiveValue("padding-bottom", 140, 50);
}



