.text-image {
	padding: 24px 0;
	@media (max-width:$mobileSmall){
		padding: 10px 0;
	}
	position: relative;
		// .text-image__container
		&__container {
			padding: 0;
			@media (max-width:$mobile){
				background-color: $petrolColor; 
			}
		}

	.section-background {
		background-color: $petrolColor;
	}

	.row {
		display: flex;
		width: 100%;

		@media (max-width:$mobile){
			display: block; 
		}
	}
	.col-image {
		order: 2;
		flex: 0 0 50%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.col-text {
		order: 1;
		flex: 0 0 50%;
		background-color: $petrolColor;
		color: #fff;
		padding-top: 50px;
		padding-bottom: 50px;
		@include adaptiveValue("padding-top", 100, 50, 2, 1920, 768);
		// @include adaptiveValue("padding-right", 80, 15, 2, 1920, 768);
		@include adaptiveValue("padding-left", 70, 10);
		@include adaptiveValue("padding-right", 70, 10);
		@include adaptiveValue("padding-bottom", 70, 50, 2, 1920, 768);
		@media (max-width:$mobileSmall){
			padding-top: 30px;
			padding-bottom: 40px;
		}
		// .col-text__title
		&__title {
			opacity: 0.77;
			transform: translate(0, 10px);
			font-weight: bold;
			padding-bottom: 25px;
			@include adaptiveValue("font-size", 60, 34);
			@include adaptiveValue("padding-bottom", 50, 25, 2, 1920, 768);
		}
		// .col-text__text
		&__text {
			opacity: 0.77;
			transform: translate(0, 10px);
			@include adaptiveValue("font-size", 43, 16);
		}
		// .col-text__link
		&__link {
			opacity: 0.77;
			transform: translate(0, 10px);
			padding-top: 20px;
			a {
				@include adaptiveValue("font-size", 43, 16);
				font-weight: bold;
				text-decoration: underline;
			}
		}
	}
}


.text-image.image-text {
	.col-image {
		order: 1;
	}
	.col-text {
		order: 2;
	}
}

// .section-background {
// 	position: absolute;
// 	top: 24px;
// 	left: 0;
// 	height: calc(100% - 48px);
// 	width: 100%;
// 	display: flex;
// 	width: 100%;
// 	display: flex;
// 	justify-content: flex-end;

// 	img {
// 		width: 50%;
// 		flex: 0 0 50%;
// 		width: 50vw;
// 		flex: 0 0 50vw;
// 		height: 100%;
// 		object-fit: cover;

// 		@media (max-width:$mobile){
// 			 width: 100%;
// 			 width: 100vw; 
// 		}
// 	}

// 	@media (max-width:$mobile){
// 		position: relative;
// 		top: initial;
// 		left: initial;
// 		height: initial;
// 		display: block;
// 		z-index: 0;
// 	}
// }

.text-image.image-text {
	.section-background {
		justify-content: flex-start;
	}

	.col-text {
		padding-right: initial;
		@include adaptiveValue("padding-left", 80, 15, 2, 1920, 768);
	}
}


.green {
	padding: 24px;
	position: relative;
	background-color: $greenColor;
		color: #fff;

	@media (max-width:$mobileSmall){
		padding: 10px 0;
	}
		// .green__container
		&__container {
			padding-top: 50px;
			padding-bottom: 50px;
			@include adaptiveValue("padding-top", 70, 50, 2, 1920, 768);
			@include adaptiveValue("padding-bottom", 70, 50, 2, 1920, 768);
		}
		// .green__title
		&__title {
			opacity: 0.77;
			transform: translate(0, 10px);
			@include adaptiveValue("font-size", 69, 24);
			font-weight: bold;
			text-align: center;
			padding-bottom: 5px;
		}
		// .green__description
		&__description {
			opacity: 0.77;
			transform: translate(0, 10px);
			@include adaptiveValue("font-size", 43, 20);
			font-weight: bold;
			text-align: center;
		}
}
